<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartid">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UIU Smart Card"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AttendanceUpdateActivity"></activity>
        <activity android:name=".PaymentActivity" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".ScanSid" />
        <activity android:name=".IdRegister" />
        <activity android:name=".RegisterMethod" />
        <activity android:name=".AboutUs" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".GifSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>